@import "./../../styles/scss/variable.scss";

.chatMessage {
    background-color: $light-color-red;
    border-radius: 5px;
    margin: calc(#{$margin} / 2) $margin 0;
    padding: calc(#{$padding} / 2) $padding $padding;
    max-width: 60%;
    width: fit-content;
    &:first-of-type {
        margin-top: $margin;
    }
    &:last-of-type {
        margin-bottom: $margin;
    }
    & p {
       margin: 0; 
    }
}

@media only screen and (min-width: 750px) {
    .chatMessage {
        max-width: 85%;
    }
}

.ownChatMessage {
    composes: chatMessage;
    align-self: flex-end;
    background-color: $light-color-gray;
}

.otherChatMessage {
    composes: chatMessage;
}

.timestamp {
    font-size: 0.8em;
    padding-bottom: 0.5em;
}