@import "./../../../src/styles/scss/variable.scss";

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color:$primary-color;
    margin: 4rem;
    .heading{
        color:$primary-color;
    }
}

.btnClose {
    composes: btn from "./../../styles/elements.module.scss";
    background-color: $primary-color;
}

