@import "./../styles/scss/variable.scss";
@import "./../styles/layout.module.scss";

.loaderContainer {
    composes: pGeneral;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 70vh;
    margin: 0 auto;
    width: fit-content;
    max-width: 500px;
}

.primaryText {
    align-self: end;
    text-align: center;
}

.secondaryText {
    align-self: start;
    text-align: center;
    font-size: 0.9em;
}

// the loader's moving dashes

.dashesContainer {
    display: flex;
    justify-content: center;
}

.dash {
    background: $primary-color;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 $light-color-gray;
    height: 15px;
    margin: 0 15px;
    width: 35px;
}

.dash1 {
    composes: dash;
    animation: spin 3s linear infinite;  
    margin-right: -18px;
    transform-origin: center left;
}

.dash2 {
    composes: dash;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
    transform-origin: center right;
}

.dash3 {
    composes: dash;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
    transform-origin: center right;
}

.dash4 {
    composes: dash;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
    transform-origin: center right;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(360deg);
    }
    30% {
        transform: rotate(370deg);
    }
    35% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-180deg);
    }
    35% {
        transform: rotate(-190deg);
    }
    40% {
        transform: rotate(-180deg);
    }
    78% {
        transform: rotate(-180deg);
    }
    95% {
        transform: rotate(-360deg);
    }
    98% {
        transform: rotate(-370deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    27% {
        transform: rotate(0deg);  
    }
    40% {
        transform: rotate(180deg);
    }
    45% {
        transform: rotate(190deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    80% {
        transform: rotate(370deg);
    }
    85% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(0deg);
    }
    38% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-360deg);
    }
    65% {
        transform: rotate(-370deg);
    }
    75% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}