// Colors
$black: #000000;
$dark-gray: #454545;
$gray: #828282;
$light-color-blue: #f3fcfc;
$light-color-gray: #f2f2f2;
$light-color-red:#e9dede;
$primary-color: #A0000B;
$primary-shade-light: #c13f48;
$primary-shade-dark: #740008;
$white: #ffffff;

// Typography
$button-fontsize: 1.2em;
$font-weight-semibold: 600;
$title-fontsize: 2rem;

// Sizes
$chat-header-height: 100px;
$button-height: 2.5rem;
$button-width: 8rem;

// Layout
$margin: 1rem;
$navbar-height: 4rem;
$padding: 1rem;
